node_modules
.env
.env.enc
coverage
coverage.json
deployments

# Hardhat files
cache
artifacts

# TypeChain files
typechain
typechain-types

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
